{% extends "base.html" %}

{% block title %}API{% endblock %}

{% block content %}
<div class="page-header">
  <h1>API <small>Documentation</small></h1>
</div>

<p>L'API de api.ccomptes.fr ne contient que deux points d'entrée :</p>
<ul>
    <li><code>/api/&lt;id&gt;/</code> : pour l'accès direct à un rapport depuis son identifiant</li>
    <li><code>/api/search/</code> : pour la recherche paginée</li>
</ul>
<p>Le fonctionnement est strictement similaire à celui des pages web.</p>

<h2>Accès direct</h2>
<p>Cette API permet l'accès direct à un rapport de la Cour des comptes par son identifiant.</p>

<h3>Exemple</h3>
<p>Voici un exemple d'accès direct à un rapport au Cour des comptes n°{{ sample.id }} : </p>
<p><code>GET {{ url_for('api.display', id=sample.id) }}</code></p>
<p><pre data-api="{{ url_for('api.display', id=sample.id) }}"></pre></p>

<h2>Recherche</h2>
<p>La recherche accepte les paramètres d'URL suivants :</p>
<ul>
    <li><code>q</code> : recherche textuelle</li>
    <li>
        <code>sort</code> : critère de tri. Le tri s'effectue sur le score de recherche si ce paramètre n'est pas spécifié. Les valeurs possibles sont:
        <ul>
            <li><code>administration (asc|desc)</code> : tri par administration</li>
            <li><code>topic (asc|desc)</code> : tri par thème</li>
            <li><code>publication (asc|desc)</code> : tri par date de publication</li>
        </ul>
    </li>
    <li><code>administration</code> : filtre sur l'administration spécifiée</li>
    <li><code>tag</code> : filtre sur la tag spécifié (peut-être spécifié plusieurs fois)</li>
    <li><code>topic</code> : filtre sur le thème spécifié</li>
    <li><code>publication</code> : filtre sur la publication spécifiée (au format <code>yyyy-mm-dd</code></li>
    <li><code>page</code> : affiche la page indiquée (en relation avec <code>page_size</code>)</li>
    <li><code>page_size</code> : spécifie la taille de la pagination (20 par défaut)</li>
</ul>

<p>La réponse est un objet JSON à 5 attributs :</p>
<ul>
    <li><code>reports</code> : une liste triée des rapports correspondants aux critères de recherche</li>
    <li><code>page</code> : le numéro de la page courante</li>
    <li><code>page_size</code> : la taille de la pagination</li>
    <li><code>total</code> : le nombre total de rapports retournés par la recherche</li>
    <li>
        <code>facets</code> : les différents facettes associées à la recherche sous la forme de liste de triplets :
        <ol>
            <li>la valeur du champ associé à la facette</li>
            <li>le nombre d'occurence dans les résultats de la recherche</li>
            <li><code>true</code> si un filtre est appliqué sur cette valeur</li>
        </ol>
    </li>
</ul>

<h3>Exemple</h3>
<p>Voici un exemple de recherche sur le terme "Paris", triée par dates de publication décroissantes et n'affichant que les 3 premiers éléments :</p>
<p><code>GET {{ url_for('api.search', q='Paris', sort='publication desc', page_size=3) }}</code></p>
<p><pre data-api="{{ url_for('api.search', q='Paris', sort='publication desc', page_size=3) }}"></pre></p>
{% endblock %}


{% block extra_js %}
{% assets "js-api" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
